/* CSS nécessaire pour l'affichage "above-the-fold" au-dessus de la ligne de flottaison */
/* site web qui fait l'analyse sur une page et donne les règles CSS critiques */
/* https://www.sitelocity.com/critical-path-css-generator */
/* https://jonassebastianohlsson.com/criticalpathcssgenerator/ */
/* code à inclure et à compresser dans le head de la page html entre les balises <style> */
@media screen and (prefers-color-scheme: dark) {
	body {
		color: #C0C0C0;
		background-color: #151515;
	}
}
/*media screen*/
html,body,div,span,h1,h2,h3,h4,p,a,em,img,picture,strong,ul,li,article,footer,header,section {
	margin: 0;
	padding: 0;
	border: 0;
}
article,footer,header,section {
	display: block;
}
*, ::before,::after {
	box-sizing: border-box;
}
body {
	font-family: 'Inter', -apple-system, system-ui, sans-serif;
	font-size: 14pt;
	font-weight: 300;
	letter-spacing: .02em;
	line-height: 1.65em;
}
section.special {
	font-size: 12pt;
	text-align: center;
}
a {
	text-decoration: none;
	border-bottom: dotted 1px;
}
strong {
	font-weight: 600;
}
p,ul {
	margin: 0 0 2em 0;
}
footer>:last-child {
	margin-bottom: 0;
}
picture {
	min-height:100px;
}
.mh-head .mh-text {
    display:block;
}
.mh-head.mh-align-right .mh-text {
    text-align: right;
}
.image.featured img {
	display: block;
	width: 100%;
}
ul.buttons:last-child {
	margin-bottom: 0;
}
ul.buttons {
	padding: 0;
}
ul.buttons li {
	display: inline-block;
}
ul.buttons li:first-child {
	padding: 0;
}
ul.buttons.vertical li {
	display: block;
	padding: 1.5em 0 0 0;
}
ul.buttons.vertical li:first-child {
	padding: 0;
}
.button {
	appearance: none;
	background: none;
	border: solid 1px;
	border-radius: 5px;
	color: inherit;
	display: inline-block;
	font-size: .8em;
	font-weight: 600;
	letter-spacing: 2px;
	min-width: 11em;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.button.special {
	background: #f63;
	border-color: #f63;
	color: #fff!important;
}
.button.fit {
	width: 100%;
}
@keyframes reveal-banner {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#banner {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAAA1BMVEWLg2L5CAJHAAAAAXRSTlMfze7VkwAAAB9JREFUeF7twAEJAAAAwjD7pzbHYVscAAAAAAAAAMABIQAAAYNlD+QAAAAASUVORK5CYII=),url(images/banner.jpg);
	background-attachment: scroll,fixed;
	background-position: top left,center center;
	background-repeat: repeat,no-repeat;
	background-size: auto,cover;
	padding: 9em 0;
	text-align: center;
}
#banner .inner {
	animation: reveal-banner 1s 0.25s ease-in-out;
	animation-fill-mode: forwards;
	display: inline-block;
	opacity: 0;
	padding: 3em;
	text-align: center;
	background: rgba(52,27,43,.5);
}
#banner .inner header {
	display: inline-block;
	border-bottom: solid 2px;
	border-top: solid 2px;
	margin: 0 0 2em 0;
	padding: 3px 0 3px 0;
}
#banner .inner header h1 {
	border-bottom: solid 2px;
	border-top: solid 2px;
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: .2em;
	margin: 0;
	padding-left: .05em;
	position: relative;
	text-transform: uppercase;
}
#banner .inner p {
	letter-spacing: .05em;
	margin: 0;
	text-transform: uppercase;
}
#banner .inner p a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}
#banner .inner footer {
	margin: 2em 0 0 0;
}
#main {
	padding: 7em 0;
}
body.index #main {
	padding-top: 5em;
}
.icon {
	text-decoration: none;
	position: relative;
}
.icon::before {
	/*font-family: silomia-symbol;*/
	font-style: normal;
	font-weight: normal;
	text-transform: none!important;
}
.icon>.label {
	display: none;
}
.fa-fw {
	width: 1.28571429em;
	text-align: center;
}
.mm-menu_offcanvas:not(.mm-menu_opened){
	display:none;
}@media screen and (max-width:840px) {
	/*html,body {
		overflow-x: hidden;
	}*/
	body {
		min-width: 320px;
	}
	section {
		font-size: 13pt;
		margin: 1em 0 1em 0;
	}
	section:first-child {
		margin-top: 0;
	}
	.button {
		max-width: 20em;
		width: 100%;
	}
	.button.fit {
		width: auto;
	}
	ul.buttons {
		text-align: center;
	}
	ul.buttons li {
		display: block;
		padding: 1em 0 0 0;
	}
	#banner {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAAA1BMVEWLg2L5CAJHAAAAAXRSTlMfze7VkwAAAB9JREFUeF7twAEJAAAAwjD7pzbHYVscAAAAAAAAAMABIQAAAYNlD+QAAAAASUVORK5CYII=),url(images/banner@1x.jpg);
		background-size: auto,cover;
		padding: 1.68em 1.68em 0em 1.68em;
		margin: 0;
	}
	#banner .inner {
		display: block;
		padding: 1em;
	}
	#banner .inner header h1 {
		font-size: 1.5em;
	}
	#banner .inner p {
		text-align: center;
	}
	#banner .inner br {
		display: none;
	}
	#main {
		padding: 3.5em 0 2.5em 0;
	}
	body.index #main {
		padding: 2.5em 0 0 0;
	}
}
