/* CSS nécessaire pour l'affichage "above-the-fold" au-dessus de la ligne de flottaison */
/* site web qui fait l'analyse sur une page et donne les règles CSS critiques */
/* https://www.sitelocity.com/critical-path-css-generator */
/* https://jonassebastianohlsson.com/criticalpathcssgenerator/ */
/* code à inclure et à compresser dans le head de la page html entre les balises <style> */
@media screen and (prefers-color-scheme: dark) {
	body {
		color: #C0C0C0;
		background-color: #151515;
	}
}
/*media screen*/
html,body,div,span,h1,h2,h3,h4,p,a,em,img,picture,strong,ul,li,article,footer,header,section {
	margin: 0;
	padding: 0;
	border: 0;
}
article,footer,header,section {
	display: block;
}
*, ::before,::after {
	box-sizing: border-box;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
}
.row {
	border-bottom:solid 1px transparent;
	box-sizing: border-box;
	margin: -50px 0 -1px -50px;
}
.row > * {
	float: left;
	box-sizing: border-box;
	padding: 50px 0 0 50px;
}
.row::after, .row::before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.\34 u, .\34 u\$ {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.row.\31 50\% > * {
	padding: 75px 0 0 75px;
}
.row.\31 50\% {
	margin: -75px 0 -1px -75px;
}
.\38 u {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
body {
	font-family: 'Inter', -apple-system, system-ui, sans-serif;
	font-size: 14pt;
	font-weight: 300;
	letter-spacing: .02em;
	line-height: 1.65em;
}
a {
	text-decoration: none;
	border-bottom:dotted 1px;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
p,blockquote,ul {
	margin: 0 0 2em 0;
}
h1,h2,h3,h4 {
	color: inherit;
	font-weight: 600;
	line-height: 1.75em;
	margin: .7em 0;
	text-transform: uppercase;
	letter-spacing: normal;
}
h1 {
	font-size: 1.4em;
}
h2,h3 {
	font-size: 1.15em;
}
blockquote {
	font-style: italic;
	padding: 1em 0 1em 2em;
}
section {
	font-size: 14pt;
}
section.special {
	text-align: center;
}
header.major {
	padding-bottom: 2em;
}
header.special {
	margin-bottom: 4em;
	padding-top: 5.5em;
	position: relative;
	text-align: center;
}
header.special::before, header.special::after {
	border-bottom:solid 1.5px;
	border-top:solid 1.5px;
	content: '';
	height: 7px;
	opacity: .1;
	position: absolute;
	top: 1.75em;
	width: 43%;
}
header.special::before {
	left: 0;
}
header.special::after {
	right: 0;
}
header.special h1 {
	margin-bottom: 0;
	font-weight: 300;
}
header.special h1 + p {
	margin-bottom: 0;
	padding-top: 1.5em;
}
header.special .icon {
	height: 7em;
	left: 0;
	position: absolute;
	text-align: center;
	top: 1em;
	width: 100%;
}
header.special .icon::before {
	font-size: 3.5em;
	opacity: .35;
}
footer > :last-child {
	margin-bottom: 0;
}
picture {
	min-height:100px;
}
#main {
	padding: 7em 0;
}
body.index #main {
	padding-top: 5em;
}
.mh-head .mh-text {
    display: block;
}
.mh-head.mh-align-right .mh-text {
    text-align: right;
}
.image.featured img, picture.image.featured {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
	min-height: 200px;
}
.wrapper {
	margin-bottom: 5em;
	padding: 5em;
}
.wrapper.style3, .wrapper.style4 {
	color: inherit;
	border-radius: 5px;
}
.wrapper.style4 {
	padding: 4em;
}
.fa-lg {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%;
}
.icon {
	text-decoration: none;
	position: relative;
}
.icon::before {
	/*font-family: silomia-symbol;*/
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.mm-menu_offcanvas:not(.mm-menu_opened){
	display:none;
}
@media screen and (min-width: 1900px) {
	.container {
		width: 1400px;
	}
	body, section {
		font-size: 16pt;
	}
}
@media screen and (max-width: 1680px) {
	.container {
		width: 1200px;
	}
	.row > * {
		padding: 40px 0 0 40px;
	}
	.row {
		margin: -40px 0 -1px -40px;
	}
	.row.\31 50\% > * {
		padding: 60px 0 0 60px;
	}
	.row.\31 50\% {
		margin: -60px 0 -1px -60px;
	}
	#main .sidebar section {
		margin: 3em 0 0;
		padding: 3em 0 0;
	}
	#main .sidebar section:first-child {
		border-top-width: 0;
		padding-top: 0;
		margin-top: 0;
	}
	body {
		font-size: 14pt;
	}
	section {
		font-size: 12.5pt;
	}
}
@media screen and (max-width: 1280px) {
	.container {
		width: 960px;
	}
	.row > * {
		padding: 40px 0 0 40px;
	}
	.row {
		margin: -40px 0 -1px -40px;
	}
	.row.\31 50\% > * {
		padding: 60px 0 0 60px;
	}
	.row.\31 50\% {
		margin: -60px 0 -1px -60px;
	}
	#main .sidebar section {
		margin: 3em 0 0 0;
		padding: 3em 0 0 0;
	}
	#main .sidebar section:first-child {
		border-top-width: 0;
		padding-top: 0;
		margin-top: 0;
	}
	body {
		font-size: 13pt;
		line-height: 1.65em;
	}
	section {
		font-size: 12pt;
	}
	h1, h2, h3, h4 {
		line-height: 1.5em;
	}
	.wrapper {
		margin-bottom: 4em;
		padding: 4em 3em;
	}
	.wrapper.style4 {
		padding: 3em;
	}
}
@media screen and (max-width: 980px) {
	.container {
		width: 95%;
	}
	.row > * {
		padding: 30px 0 0 30px;
	}
	.row {
		margin: -30px 0 -1px -30px;
	}
	.row.\31 50\% > * {
		padding: 45px 0 0 45px;
	}
	.row.\31 50\% {
		margin: -45px 0 -1px -45px;
	}
	body {
		font-size: 13pt;
		line-height: 1.55em;
	}
	section {
		font-size: 12.5pt;
	}
	header.special {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
	.wrapper {
		margin-bottom: 3em;
		padding: 3em 2.5em;
	}
	.wrapper.style4 {
		padding: 2.5em;
	}
}
@media screen and (max-width: 840px) {
	.container {
		width: 95% !important;
	}
	.row > * {
		padding: 30px 0 0 30px;
	}
	.row {
		margin: -30px 0 -1px -30px;
	}
	.row.\31 50\% > * {
		padding: 45px 0 0 45px;
	}
	.row.\31 50\% {
		margin: -45px 0 -1px -45px;
	}
	.\31 2u\28narrower\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	html, body {
		/*overflow-x: hidden;*/
		font-size: 14pt;
	}
	section {
		font-size: 13pt;
	}
	h1 {
		font-size: 1.25em;
		letter-spacing: -0.02em;
	}
	h2, h3 {
		font-size: 1.05em;
		letter-spacing: 0.002em;
	}
	header.special {
		margin-bottom: 4em;
		padding-top: 5em;
	}
	header.special::before, header.special::after {
		width: 40%;
	}
	header.special h1 + p {
		padding-top: 1.25em;
		letter-spacing: -0.01em;
	}
	section {
		margin: 1em 0;
	}
	section:first-child {
		margin-top: 0;
	}
	.wrapper.style4 {
		padding-bottom: 3em;
	}
	#main {
		padding: 5em 0;
	}
}
@media screen and (max-width: 730px) {
	.container {
		width: 100% !important;
	}
	.row > * {
		padding: 30px 0 0 30px;
	}
	.row {
		margin: -30px 0 -1px -30px;
	}
	.row.\31 50\% > * {
		padding: 45px 0 0 45px;
	}
	.row.\31 50\% {
		margin: -45px 0 -1px -45px;
	}
	body {
		min-width: 320px;
		font-size: 14pt;
		letter-spacing: 0.01em;
	}
	section {
		font-size: 13.5pt;
	}
	h1 {
		font-size: 1.25em;
	}
	h2, h3 {
		font-size: 1em;
	}
	header {
		text-align: center;
	}
	header.special {
		margin-bottom: 3em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	header.special::before, header.special::after {
		width: 38%;
	}
	header.special .icon {
		font-size: .75em;
		top: 1.5em;
	}
	header p {
		text-align: center;
	}
	.image.featured img, picture.image.featured {
	min-height: 100px;
	}
	.wrapper {
		margin-bottom: 2.5em;
		padding: 2.25em 1.5em;
	}
	.wrapper.style4 {
		background-size: 10em;
		padding: 1.5em 1.5em 3em 1.5em;
	}
	#main {
		padding: 3.5em 0 2.5em 0;
	}
}
@media screen and (max-width: 359px) {
	body {
		font-size: 14pt;
	}
	section {
		font-size: 13pt;
	}
}
